################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RND_CS/packages
/RND_CS/.vs/RND_CS/v16
/RND_CS/ProgramRunner/bin/Debug/netcoreapp3.1
/RND_CS/ProgramRunner/obj
